<h1 class="display-4 text-center mt-5">Del Monte Motor Works, Inc.</h1>
<p class="h6 fw-normal text-center mt-2">
    Del Monte Motor Works, Inc. (DMMW), also known as Del Monte Motors, is a bus and truck manufacturer headquartered in Quezon City, Philippines.
    It was established in 1950. The company offers a range of truck and bus bodies for its all major brands.
    It is also one of the leading bus body manufacturers in the Philippines. Galleries below are some of its notable bus models.
</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">DM12 MODEL (2012)</p>
            <div id="carouselDM12" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselDM12" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselDM12" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselDM12" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/1713/25175101354_efe4abb10d_b.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Elavil Tours Phils, Inc 9328 | DM12 S1 Hino RK1JST">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Elavil Tours Phils, Inc. 9328 | DM12 S1</h5>
                            <p>DM12 S1 non-airconditioned model in Hino RK1JST chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/54300099061_8fc0015c43_m.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="DLTB Co. 5M | DM12 S1 MAN R39 18.350 HOCL">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>DLTB Co. 5M | DM12 S1</h5>
                            <p>DM12 S1 model in MAN R39 18.350 HOCL chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/8810/28202100263_6d09fbeab7_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Raymond Transportation 8508 | DM12 S1 Hino RK1JST">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Raymond Transportation 8508 | DM12 S1</h5>
                            <p>DM12 S1 model in Hino RK1JST chassis</p>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDM12" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselDM12" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">DM14 MODEL (2014)</p>
            <div id="carouselDM14" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselDM14" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselDM14" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselDM14" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/53863209110_6f3c2000dc_m.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="GV Florida Transport Inc. GD171 | DM14 S1 Hino RM2PSS Wide-sus">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>GV Florida Transport Inc. GD171 | DM14 S1</h5>
                            <p>DM14 S1 model in Hino RM2PSS Wide-sus chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/3821/19601065670_1722bc5ac8.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Raymond Transportation 8018 | DM14 S1 Hino RM2PSS Wide-sus">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Raymond Transportation 8018 | DM14 S1</h5>
                            <p>DM14 S1 model in Hino RM2PSS Wide-sus chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/54896407085_c130ec7641_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="DLTB Co. 5113 | DM14 S2 Hino RK1JST">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>DLTB Co. 5113 | DM14 S2</h5>
                            <p>DM14 S2 model in Hino RK1JST chassis</p>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDM14" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselDM14" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">DM22 Touring (2022)</p>
            <div id="carouselDM22" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselDM22" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselDM22" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselDM22" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/54134797768_68414ef35e_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Elavil Tours Phils, Inc. 8881 | DM22T Scania K360">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Elavil Tours Phils, Inc. 8881 | DM22 Touring</h5>
                            <p>DM22 Scania Touring in Scania K360IB 4x2NB chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/52524153692_2dc81900df_h.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Peñafrancia Tours and Travel Skybus 8000 | DM22T Scania K360">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Peñafrancia Tours and Travel Skybus 8000 | DM22 Touring</h5>
                            <p>DM22 Scania Touring in Scania K360IB 4x2NB chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://i.redd.it/ph-gv-florida-transport-inc-s004-scania-k360ib-coachwork-by-v0-ojlco2fxbzrg1.jpg?width=5000&format=pjpg&auto=webp&s=39ec67b0e0334b2fff0b5f7ce43278dc7bd848c5"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="GV Florida Transport Inc. S004 | DM22T Scania K360">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>GV Florida Transport Inc. S004 | DM22 Touring (Sleeper)</h5>
                            <p>DM22 Scania Touring in Scania K360IB 4x2NB chassis</p>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDM22" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselDM22" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">DM24 (2024)</p>
            <div id="carouselDM24" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselDM24" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselDM24" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselDM24" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/53835180580_e68d614763_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="DLTB Co. 1H | DM24 S2 Hyundai Aero Space LS">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>DLTB Co. 1H | DM24 S2</h5>
                            <p>DM24 S2 model in Hyundai Aero Space LS D6AB chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/53737027697_67c2dd6db3_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="DLTB Co. 31R | DM24 S1 Hino RN">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>DLTB Co. 31R | DM24 S1</h5>
                            <p>DM24 S1 model in Hino RN8J chassis</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/54472552919_ef41b4f0c2.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Victory Liner, Inc. 7508 | DM24 S3 MAN 19.360">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Victory Liner, Inc. 7508 | DM24 S3</h5>
                            <p>DM24 S3 model in MAN 19.360 HOCL RR3 chassis</p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDM24" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselDM24" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">DM26 (2025)</p>
            <div class="text-center">
                <img src="https://scontent.fcrk3-4.fna.fbcdn.net/v/t39.30808-6/607339938_122183088518522615_5247871731082069136_n.jpg?stp=dst-jpg_tt6&cstp=mx1648x1080&ctp=p180x540&_nc_cat=109&ccb=1-7&_nc_sid=aa7b47&_nc_eui2=AeEvggyJl-v_eRwRtqYZ2i6DsQOyZpaYylixA7JmlpjKWDZD6_Pkl5OD0PnzW1yYSZarVrvO2CKO9xrW7bNkH4PV&_nc_ohc=8x7SLRL4wroQ7kNvwFE5lqd&_nc_oc=AdpTjaQSpCYVD91HAkMmcwAkwnrNoOy3R0c4q5aUsZi0fC0lIsfhD3K-nvSM1fXDfWE&_nc_zt=23&_nc_ht=scontent.fcrk3-4.fna&_nc_gid=cvKPZdADrXNUp9tysXYp3g&_nc_ss=7b2a8&oh=00_Af8d-IVhvWu42zTtbR6M1seNeJEduH_XTQuxieFtKbhisw&oe=6A2DAE1B"
                     class="img-fluid"
                     style="display:block; width:100%; height: 350px; object-fit: cover;"
                     alt="DM26">
                <div class="mt-2">
                    <h5>DLTB Co. 1904 | DM26</h5>
                    <p>DM26 model in Hino FG8JP7SXX 1625 chassis</p>
                </div>
            </div>
        </div>

    </div>
</div>