<h1 class="display-4 text-center mt-5">Higer Bus Company Limited</h1>
<p class="h6 fw-normal text-center mt-2">
    Higer Bus Company Limited, also known as Higer Bus, is a Chinese bus manufacturer based in Suzhou, Jiangsu. It was established at the end of 1998. 
    HIGER is China's leading exporter of buses and coaches, whose units are available in more than 100 countries and territories in South Asia, 
    Middle East, Africa, Russia, East Europe and the Americas. It is well known for its innovation and vision in research and development. 
    With its philosophy of "Focus on Safety and Service", HIGER BUS contributes a great deal to the modernization of the Chinese bus industry.
    In the past few years, over 2,000 units of HIGER Buses are exported to different countries around the world, including the Philippines.
    Galleries below are some of its notable bus models exported in the Philippines.
</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">HIGER V91</p>
            <div id="carouselV91" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselV91" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselV91" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselV91" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/8480/8201870415_1c521b4ff7_m.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Pangasinan Five Star Bus Company Inc. 3203 | Higer KLQ6119E3 &quot;V91&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Pangasinan Five Star Bus Company Inc. 3203</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/8158/7346694140_8cea3df72f_b.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Victory Liner Inc. 8102 | Higer KLQ6119QE3 &quot;V91&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Victory Liner Inc. 8102</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/1543/24350998080_77662d5306_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Silver Star Shuttle & Tours Inc. 200607 | Higer KLQ6119 &quot;V91&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Silver Star Shuttle & Tours Inc. 200607</h6>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselV91" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselV91" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="mt-2 text-center">
                <h5>Suzhou Higer KLQ6119 (V91)</h5>
                <p>Yuchai YC6L310-20 Euro II | 310 hp</p>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">HIGER U-TOUR</p>
            <div id="carouselUTOUR" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselUTOUR" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselUTOUR" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselUTOUR" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/52174422637_b40d83dbcb_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Cagsawa Travel and Tours Inc. 888-33 | Higer KLQ6123K &quot;U-Tour&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Cagsawa Travel and Tours Inc. 888-33 *</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fcrk3-1.fna.fbcdn.net/v/t39.30808-6/500226797_1102469945256913_3095423780624393882_n.jpg?stp=dst-jpg_tt6&cstp=mx960x721&ctp=p180x540&_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFmxf2O9tInFSXJFPoiGwki8YI4XL97sSPxgjhcv3uxI3egIYhTjbeY6N7FyWAMcoFlSyWpo--KFcvoitJeQeZQ&_nc_ohc=mhd1wDSmuCgQ7kNvwE3sVlZ&_nc_oc=Adro7qyeBPBEg372a3Q5dj2_l_R94BU5GhlZVZRzwGZx4MKiTCXFyCYdZtx0TayQNDI&_nc_zt=23&_nc_ht=scontent.fcrk3-1.fna&_nc_gid=Q6pfglkDJScC-1nXeRf-tw&_nc_ss=7b2a8&oh=00_Af-d1oksA3Ced2wewtCARAcQdpMgKLn2iuWRVqhDXyqPpA&oe=6A2DDA77"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Elavil Tours Phils., Inc. 9368 | Higer KLQ6123K &quot;U-Tour&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Elavil Tours Phils., Inc. 9368</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/53250680815_3de067471f_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Antonina Line 20028 | Higer KLQ6123K &quot;U-Tour&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Antonina Line 20028</h6>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselUTOUR" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselUTOUR" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Suzhou Higer KLQ6123K (U-Tour)</h5>
                    <p>Yuchai YC6L330-42L Euro IV | 330 hp <br><em>*Shanghai Hino P11C-UH Euro III | 325 hp</em><br/> </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">HIGER TOURIST</p>
            <div id="carouselTOURIST" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselTOURIST" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselTOURIST" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselTOURIST" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/54232165274_1d26627559_m.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Pangasinan Solid North Transit, Inc. 3613 | Higer KLQ6127LA &quot;Tourist&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Pangasinan Solid North Transit, Inc. 3613</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/54448118694_e2b2d49731_m.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Bicol Isarog Transport System Inc. 1225 | Higer KLQ6127LA &quot;Tourist&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Bicol Isarog Transport System Inc. 1225</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/54519010469_40cc52228a_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="CUL Transport 2401 | Higer KLQ6127LA &quot;Tourist&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>CUL Transport 2401</h6>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTOURIST" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselTOURIST" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Suzhou Higer KLQ6127LA (Tourist)</h5>
                    <p>Yuchai YC6L330-50 Euro V | 330 hp</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">HIGER V12</p>
            <div id="carouselBV115" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselBV115" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselBV115" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselBV115" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/54507191822_ffe320c010_w.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Victory Liner, Inc. 646 | Higer KLQ6126LY &quot;V12&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Victory Liner, Inc. 646</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/55170311892_616d62fff1_m.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Peñafrancia Tours and Travel Skybus 2300 | Higer KLQ6126LY &quot;V12&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Peñafrancia Tours and Travel Skybus 2300 *</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/55123461426_1a78f74a29_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Elavil Tours Phils., Inc. 88835 | Higer KLQ6126LY &quot;V12&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Elavil Tours Phils., Inc. 88835 *</h6>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBV115" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselBV115" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Suzhou Higer KLQ6126LY New V-Series (V12)</h5>
                    <p>Yuchai YC6L330-50 LA1SA Euro V | 330ph <br><em>*Yuchai YCK10380-50 Euro V | 380 hp</em><br/></p>
                </div>
            </div>
        </div>
    </div>
</div>
