<h1 class="display-2 text-center">PHILIPPINE BUSES GALLERY</h1>
<p class="h6 fw-normal text-center">This website showcases Philippine buses, both locally manufactured and imported coachworks.
    <br>Credits to all the owners/bus enthusiasts of each photos used in this website.<br/></p>

<div class="d-flex justify-content-center mt-3">
    <div style="max-width: 700px; width: 100%;">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://scontent.fmnl33-1.fna.fbcdn.net/v/t39.30808-6/606404562_1382994076540546_4506559819960915514_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeGFbV1WM5mJeoqdtIhhvYZK0xIwz73oJADTEjDPvegkAOspiDot6zd1kYmb3AHt-JHnPt3g-d3wI9qRdOTYdP2x&_nc_ohc=5StxDPN5A-IQ7kNvwEiFRn5&_nc_oc=AdpU25HgyxzmX4JMZjMK39TTjXZR4laKp6ubSz3W-sWVdOBA2XzSLqQNl5iDndYcqF8&_nc_zt=23&_nc_ht=scontent.fmnl33-1.fna&_nc_gid=drHGG2dKlQWhEUr9AY9--A&_nc_ss=7a3a8&oh=00_Af03san1Hp3MZTBTRrnNic3ImpaXO3wpD1BqLSnKFp-NrQ&oe=69E6B0B2" 
                    class="d-block w-100"
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-5.fna.fbcdn.net/v/t39.30808-6/619310989_1396731311833489_1825146165133524392_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeEMLKUJAI7ap4kOlsyEUB_V4AZlsPQ4y0zgBmWw9DjLTNz8UpApsBCmcdrwy5TM5Qe-LwOKqpb201C-PSo-r8Wv&_nc_ohc=-V4PkyiMMJgQ7kNvwGkOpTp&_nc_oc=AdrCLtumd62F9tjWTs9klb_560U1ltW855_s3_lgOYlZaaD5cz5B2NkddSxLEc-ps-o&_nc_zt=23&_nc_ht=scontent.fmnl33-5.fna&_nc_gid=B-8cLlqDQHQgTHauKNVstw&_nc_ss=7a3a8&oh=00_Af2JfWBi6EwsqTT_g1QVHeM_WSctZyi-dzPTCSIjz6JqDA&oe=69E6D93D" 
                    class="d-block w-100"
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/481266120_1148382880001668_1714227139227906978_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeHdfZVpCTmtxlqlwmtNBIoyf1Buk_msAEd_UG6T-awAR-EuAaOR0Ky5dIk-EtvvzfLPLDUeGY53rg6YoOPOADzp&_nc_ohc=-qlZmbtuuAUQ7kNvwEKpCzC&_nc_oc=Adp-SzYgZ3DjRVOFX6K9yySeKVj6tNCCoWVODbrybQ74BfWDKA19UPPCzGmj4QdUBWY&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=XU-r51zjgawYDhtPxEMp7Q&_nc_ss=7a3a8&oh=00_Af3YgKXVTWHC1os4pzP7xknsrL9AefRbCuEgByqDCJtpJQ&oe=69E6D9F3" 
                    class="d-block w-100"
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/480774374_1145493403623949_6374450377165306430_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeHRlYl3PC8rd1RZ43lqHGt0COg6RKvZUEEI6DpEq9lQQcLhiuCno14Kc9uq7TH7uH08WyqjMYxyfYVarbm09HPo&_nc_ohc=HoPwwnUurjsQ7kNvwEkEiwK&_nc_oc=Adq8lfkWBg6V9kO7AGpOvD59ZF63h_2bNOqBPFdaQEQXqNzyrTFicyEv0K-Z6yI0sTQ&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=VQolrU3YkD82NIzvCGl92g&_nc_ss=7a3a8&oh=00_Af145A-tEsphMlb-2Mwj56jyCGv-AyZ5YyL_vsHPpHDiwQ&oe=69E6B166" 
                    class="d-block w-100"
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/480256193_1142579370582019_8043049267745555375_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeFxd_1jxA_y9natKNOnl4ZxXd9UPuI9hjJd31Q-4j2GMjq2fEmW0ygCNXkNLfSv1_SP3XiAdgYon6baDRCu9SJO&_nc_ohc=eHX2Qm10JzIQ7kNvwFITGjR&_nc_oc=Ado5z0FjP8bo2qAT1hcaLM5gZlaDakyBhMvXwJqA5dYDqLaHjGreC3GztByEff3rxU0&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=ZTwEcRHKrmNH0_mW3HgFRw&_nc_ss=7a3a8&oh=00_Af2btkqp_OQ5aPvy1cbkf7pnmjdJKBz5KdoktTXh2WfXiA&oe=69E6A4BC" 
                    class="d-block w-100" 
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-1.fna.fbcdn.net/v/t39.30808-6/480296392_1142015983971691_1662140785268671385_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeH1Hwj-bCVcJe-CoS5JHeKjwMlZV3FZx8TAyVlXcVnHxMt-RA8lhl1CgscjhrtC2xAN4mGhVwtrdKXPt4XPD9Es&_nc_ohc=ZSZi8SjND-YQ7kNvwE7Sc8z&_nc_oc=Adr327fFcMed9ENADIxrzU8PuolUlYFk1MCtP6LDWM0pqQJTPgX079p3GBtQAOzB6Gw&_nc_zt=23&_nc_ht=scontent.fmnl33-1.fna&_nc_gid=8QPreud6KIBXhz6kJs4WtQ&_nc_ss=7a3a8&oh=00_Af322WbfKSBRRyLDH1IO_Y7AvpcxjUpArHZ7ipgCku8EdQ&oe=69E6B881" 
                    class="d-block w-100"
                    style="height: 450px; object-fit: cover;"  
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/499836267_1254383243363982_1942441899322876020_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeHxBxVitOYTRd8YkrRJGZX9KcXSJJDjOwgpxdIkkOM7CIOMu2uEhwkJ1yy9MQPyjWDm8tIbrNDeFdjz2i-RgKld&_nc_ohc=seTxrFyeKyUQ7kNvwGkcThZ&_nc_oc=Adrv5fMDL7FSH0ecEOWxND4scpXf_j28oV10Z56lUy_esoFEJWpBLLKV5nOs4RSnESI&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=RQYEElccDyg64h3OEtT66Q&_nc_ss=7a3a8&oh=00_Af3-xH94cx3UAh7AUvfJVAJZBgOvWB6I_PlPZFVQdvvtYA&oe=69E6D20F" 
                    class="d-block w-100"
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-5.fna.fbcdn.net/v/t39.30808-6/480507740_1140428960797060_4959628904067999490_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeGsx2YdvX_fueDVmj79rsv2tm-nDtqb3Qy2b6cO2pvdDIfSD-4XccgE4PeKjcQg17TCMEgLl-0V9AIrhxiMGHBS&_nc_ohc=1Jh-Z53kaT0Q7kNvwHu5goW&_nc_oc=AdrCxvZcyeex85rmG-XW4QtFXqXGFgYkosdiY5BJyJ586WshpUv3tV4U-JMt5uWoLSc&_nc_zt=23&_nc_ht=scontent.fmnl33-5.fna&_nc_gid=18_jb9Z-T80fKd-mMRwJTw&_nc_ss=7a3a8&oh=00_Af2LRdqpmfHPxGzSgHhHt3-z8vcWkQldhjwGcKLnnq69aQ&oe=69E6CA7A" 
                    class="d-block w-100" 
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-2.fna.fbcdn.net/v/t39.30808-6/536278312_1328255345976771_6122985227085333042_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeGUiJ4uscu1SyEhJOyK8FsHnO7udSE90hic7u51IT3SGGwvD6wmh2OpvuKiNoq3jP2-XWrJUh9bNuFyZA_PNlTn&_nc_ohc=up0bD7l_VOoQ7kNvwFYZU6M&_nc_oc=AdrlOMYJ0WcMuMFzd7gF6qt9_vGcCL-NEDnBBcscR_nkR83zppIc9y4j8KdO9eTY-E8&_nc_zt=23&_nc_ht=scontent.fmnl33-2.fna&_nc_gid=lpmg9LoIFdpzES8r8INgUA&_nc_ss=7a3a8&oh=00_Af0uWYFuE6rxUtkNHc5lU6zrcIR4fupIRVOG5u0VwH864g&oe=69E6C355" 
                    class="d-block w-100" 
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/478920324_1138938170946139_4530597889723589592_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeF60QCu-PmXq0WgvvpWT0LXmBA1jZBmWCWYEDWNkGZYJZRT8HgeOuWouuMQRzp6H4XLi5KKi_sQQDoI0p-_ECr_&_nc_ohc=7IuxSK3I0IcQ7kNvwGem-LX&_nc_oc=AdohMLXPci5CPxeEl1zIaKtcn1QgTpKrtP4cBZ4SLbqEIxhS-cZUrocDQS6S92RdWQE&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=Knct-kujxrrLSCiWXDqwGA&_nc_ss=7a3a8&oh=00_Af2SyI8F-0H-CnrnI_99VRvaOUFm7QKdpYtKW1yP4Qv1BA&oe=69E6BFD0" 
                    class="d-block w-100"
                    style="height: 450px; object-fit: cover;"
                    alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>

<h3 class="display-6 text-center mt-4">Bus Coach Manufacturers</h3>

<div class="d-flex justify-content-center gap-3 flex-wrap mt-2">
    <a href="/Home/DMMW" style="text-decoration:none;">
        <div style="position:relative; max-width:300px;">
            <img src="https://scontent.fmnl33-4.fna.fbcdn.net/v/t39.30808-6/497956425_1206782274161728_2990870851587364427_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeEYUJG7qPmBgFv7ZiGoFMdTOtxg5WX-9sc63GDlZf72x2b84FqGhPzXkV0bHOVMuiiyDO8FU28SBBNbm5LJBJLE&_nc_ohc=evNTehn4zNsQ7kNvwEW3x2M&_nc_oc=AdpXRNWAiWWBak7Cf4ZbfbU2ogxh0Wtdg99L2FUxYPoax64tJSr2U8zWu0oekM0ZpNI&_nc_zt=23&_nc_ht=scontent.fmnl33-4.fna&_nc_gid=SLnRxRX4j8HKJrSamQbzEQ&_nc_ss=7a3a8&oh=00_Af2PW9cZSNwRqb7XNf4zK4eH1gRBxTRp7YrstLMpeuVI8g&oe=69E6AE69"
                 class="img-fluid"
                 style="display:block; width:100%; height: 200px; object-fit: cover;">

            <div style="position:absolute; top:0; left:0; width:100%; height:100%;background: rgba(0,0,0,0.4);"></div>

            <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:white; font-weight:bold;
                font-size:20px; text-align:center;">
                DEL MONTE MOTOR WORKS
            </div>
        </div>
    </a>

    <a href="/Home/Santarosa" style="text-decoration:none;">
        <div style="position:relative; max-width:300px;">
            <img src="https://scontent.fmnl33-1.fna.fbcdn.net/v/t39.30808-6/602390735_1381306233375997_7626321669656279570_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeE7jaKWesrr7uWMmBNsslMarTnBbnRBFB6tOcFudEEUHlHWUtOXIO5A6zOGVdzTLhSyt1MTSDqYroohDvW65ylI&_nc_ohc=U1cvl3oTWM8Q7kNvwGa_812&_nc_oc=AdoxAPnC3--pVdMgK_3uKfcemQaNGyKbFgtp6CUFhSP1nVDZCQtYnc4cXXJT8vPlvS4&_nc_zt=23&_nc_ht=scontent.fmnl33-1.fna&_nc_gid=cpCqt9LTajB0VUX5_tO1lA&_nc_ss=7a3a8&oh=00_Af1b9Q3bmLN489WGy64E-TnxtlFnRpL5SoTtDYmyxw4XLw&oe=69E6BA9E"
                 class="img-fluid"
                 style="display:block; width:100%; height: 200px; object-fit: cover;">

            <div style="position:absolute; top:0; left:0; width:100%; height:100%;background: rgba(0,0,0,0.4);"></div>

            <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:white; font-weight:bold; 
                font-size:20px; text-align:center;">
                SANTAROSA
            </div>
        </div>
    </a>

    <a href="/Home/Higer" style="text-decoration:none;">
        <div style="position:relative; max-width:300px;">
            <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/503425847_1221123082727647_2666781780194796742_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeHm2alBOUTKXUqYdU5OZXEcZPw9W2FUZ21k_D1bYVRnbX0c8AUb7zKlapYJkWilT0DFeERAJDZHHm3Ulmn_jV_S&_nc_ohc=JYkTLrI4iTwQ7kNvwGGEPzz&_nc_oc=AdpZnDCYZP8yri2lp22kxMmWS1UcXCJ8M-lKGjNAbAlyiOdXdvO4ai4s7hAyCunEl34&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=4GHMINao7l0LS78Oo1OAeQ&_nc_ss=7a3a8&oh=00_Af11R5xIYRbWkGOeFRLJxqQYBdArhXUwulswDDtLsWvssQ&oe=69E6B506"
                 class="img-fluid"
                 style="display:block; width:100%; height: 200px; object-fit: cover;">

            <div style="position:absolute; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.4);"></div>

            <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:white; font-weight:bold;
                font-size:20px; text-align:center;">
                HIGER
            </div>
        </div>
    </a>

    <a href="/Home/Yutong" style="text-decoration:none;">
        <div style="position:relative; max-width:300px;">
            <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/480697863_1146734183499871_7296172568432794254_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeGY_uO0JslRAOCi8qw2GH1zPZNtzTFfy149k23NMV_LXsu0bZROvJ5Fi0VDCQPxu-RLdQ4N3gcaGiz-wduTH4Zo&_nc_ohc=QyfrT_9ZZBEQ7kNvwG1Mi1o&_nc_oc=AdrgWbU1yHrzQBvy2QDNZXFtkmHT6aV3_UmmgGxaXzKxoxUPNUz05PH40oV46RF82XE&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=Y5o_DxQ3GVMZUY3UHrvuww&_nc_ss=7a3a8&oh=00_Af3RSsFFMkb69BbLRwgQKDqgWtJULL8ix25EGLPwGY8D1Q&oe=69E6C813"
                 class="img-fluid"
                 style="display:block; width:100%; height: 200px; object-fit: cover;">

            <div style="position:absolute; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.4);"></div>

            <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:white; font-weight:bold;
                font-size:20px; text-align:center;">
                YUTONG
            </div>
        </div>
    </a>
</div>