<h1 class="display-4 text-center mt-5">Santarosa Motorworks, Inc.</h1>
<p class="h6 fw-normal text-center mt-2">
    Santarosa Motor Works, Inc. is a bus and truck body manufacturer, which started operation last October 2, 1987 is composed of 100% Filipino Stockholders 
    whose primary aim is to produce quality trucks and bus mounted on Nissan Diesel chassis and MAN chassis supplied by Columbian Motors Corporation. 
    A flexibility which are purposely applicable for city and provincial operations. But recently, after Daewoo Philippines closed shop, 
    Santarosa has now take over the spare parts for new Daewoo Buses. Galleries below are some of its notable bus models.
</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">SANTAROSA BF106</p>
            <div id="carouselBF106" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselBF106" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselBF106" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselBF106" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/7491/27380672733_a03dc1b78a_w.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Raymond Transportation 9768 | Santarosa Daewoo BF106">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Raymond Transportation 9768</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/8529/8467347261_2ca67929d9_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Victory Liner Inc. 2021 | Santarosa Daewoo BF106">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Victory Liner Inc. 2021</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/1684/24424557119_7d661e8839_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Philtranco Service Enterprises Inc. 1881 | Santarosa Daewoo BF106">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Philtranco Service Enterprises Inc. 1881</h6>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBF106" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselBF106" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="mt-2 text-center">
                <h5>Daewoobus BF106 Chassis</h5>
                <p>Doosan Infracore DE08TIS | 240 hp</p>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">SANTAROSA BS106</p>
            <div id="carouselBS106" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselBS106" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselBS106" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselBS106" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/445/20212488936_fccc95ab75_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Baliwag Transit, Inc. 1527 | Santarosa Daewoo BS106">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Baliwag Transit, Inc. 1527</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/3915/32871401050_252e0db73c_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Philtranco Service Enterprises Inc. 1919 | Santarosa Daewoo BS106">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Philtranco Service Enterprises Inc. 1919</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/53153576846_7e245d1974_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Santrans Corporation 175855 | Santarosa Daewoo BS106">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Santrans Corporation 175855</h6>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBS106" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselBS106" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Daewoobus BS106 Chassis</h5>
                    <p>Doosan Infracore DE08TIS | 240 hp</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">SANTAROSA BH117H</p>
            <div id="carouselBH117H" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselBH117H" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselBH117H" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselBH117H" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/51751301948_4d3a3f7b76_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="ALPS The Bus Inc. &quot;Consolacion&quot; | Santarosa Daewoo BH117H">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>ALPS The Bus Inc. &quot;Consolacion&quot;</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/54820168889_0905c3d07f_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Raymond Transportation 10088 | Santarosa Daewoo BH117H New-gen">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Raymond Transportation 10088 (BH117H New Gen)</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/4262/34705279603_02d1ca81cd_w.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Victory Liner, Inc. 2552 | Santarosa Daewoo BH117H">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Victory Liner, Inc. 2552</h6>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBH117H" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselBH117H" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Daewoobus BH117H Chassis [Airsuspension]</h5>
                    <p>Doosan Infracore DE12TIS 340 hp<br><em>Doosan Infracore DL08K | 360 hp (New Gen)</em><br /></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">SANTAROSA BV115</p>
            <div id="carouselBV115" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselBV115" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselBV115" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselBV115" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/7477/15711128899_25dcfe0963_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="SilverStar Shuttle And Tours Inc. 201000 | Santarosa Daewoo BV115">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>SilverStar Shuttle And Tours Inc. 201000</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/4329/36099285065_fb15af9671_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Philippine Rabbit Bus Lines 1103 | Santarosa Daewoo BV115">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Philippine Rabbit Bus Lines 1103</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/4785/39931020465_66f221d117_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Raymond Transportation 8718 | Santarosa Daewoo BV115">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Raymond Transportation 8718</h6>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBV115" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselBV115" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Daewoobus BV115 Chassis</h5>
                    <p>Doosan Infracore DE12TIS | 340 hp</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">SANTAROSA IVECO EUROMIDI</p>
            <div id="carouselEURO" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselEURO" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselEURO" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselEURO" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/52709564016_70edd1e0b2_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="St. Martha Lines 516-19 | Santarosa IVECO Euromidi CC150">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>St. Martha Lines 516-19</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/52660841038_4453779fe2_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Eastern Goldtrans Tours Inc. 832 | Santarosa IVECO Euromidi CC150">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Eastern Goldtrans Tours Inc. 832</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/52039305888_9b9d1b0f6f_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Bovjen Transport 8804 | Santarosa IVECO Euromidi CC150">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Bovjen Transport 8804</h6>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselEURO" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselEURO" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>IVECO Euromidi CC150 Chassis</h5>
                    <p>Iveco Tector 6-E25 | 250 hp</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">SANTAROSA EXFOH</p>
            <div id="carouselEXFOH" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselEXFOH" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselEXFOH" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselEXFOH" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://live.staticflickr.com/65535/53609525117_8b114b1a3e_m.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Pangasinan Five Star Bus Company 2201 | Santarosa Exfoh">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Pangasinan Five Star Bus Company 2201</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/54543707734_4c8ec2d245_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="CUL Transport 0087 | Santarosa Exfoh 4th Gen">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>CUL Transport 0087 (SR Exfoh 4th Gen)</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/65535/51783664040_ded10705e0_n.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="BBL Trans 3141 | Santarosa Exfoh">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>BBL Trans 3141</h6>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselEXFOH" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselEXFOH" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Nissan Diesel JA450SSN Chassis</h5>
                    <p>Nissan Diesel PF6-A | 320 hp</p>
                </div>
            </div>
        </div>
    </div>
</div>
