<h1 class="display-4 text-center mt-5">Zhengzhou Yutong Group Co., Ltd.</h1>
<p class="h6 fw-normal text-center mt-2">
    Yutong (officially Zhengzhou Yutong Group Co., Ltd.) is a Chinese manufacturer of commercial vehicles, especially electric buses, headquartered in Zhengzhou, Henan. 
    Yutong also has businesses in construction machinery, real estate, and other investments. As of 2026, Yutong is recognized as the world's largest bus 
    and coach manufacturer by volume, producing approximately 150,000 vehicles annually. Yutong's comprehensive lineup spans across various sectors, including city buses, 
    long distance coaches, tourist coaches, commuters, school buses and special-purpose vehicles. Galleries below are some of its notable bus models exported in the Philippines.
</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">YUTONG ZK6107HA </p>
            <div id="carouselZK6107HA" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselZK6107HA" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselZK6107HA" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselZK6107HA" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://scontent.fmnl33-3.fna.fbcdn.net/v/t1.6435-9/195338524_5975210702496500_8051923861030720379_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=110&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeG6EqWe_1MCDepEKqauxPjyFsWlqgsDHiwWxaWqCwMeLMvpwB_8TLyd8XesvBnHj-6hYrcvVWqhOT0Zq0jnRhhs&_nc_ohc=Q6MB3bVGbn8Q7kNvwHmsc4g&_nc_oc=Adqa_UenSL48k_wIg2nHcgCnd6AxarUnO2__YMs54Er0OTIrFXB4NNDSovcqadikaqk&_nc_zt=23&_nc_ht=scontent.fmnl33-3.fna&_nc_gid=CS9CB35zwm0ePhSSMauRQg&_nc_ss=7a3a8&oh=00_Af3h4CmCWvRMv9RH6qxuCbXCJqC7MuB98flXgtjzaAl3Ig&oe=6A08160D"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="DLTB Co. 1216 | Yutong ZK6107HA &quot;Bedbug&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>DLTB Co. 1216</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fmnl33-5.fna.fbcdn.net/v/t39.30808-6/495565914_1109308627901786_356048045368846246_n.jpg?stp=dst-jpg_p843x403_tt6&_nc_cat=101&ccb=1-7&_nc_sid=13d280&_nc_eui2=AeErLmHwWdfuqKhC_S5cEYTpowZ-kOQ1vGyjBn6Q5DW8bLcdifghDyh4TniIFPbStyuJEL5z7D0LBCLwF3MC9iCK&_nc_ohc=SEMXe8t1K20Q7kNvwELAoUr&_nc_oc=AdrjCyGxS4STbzMWYCrWAMFG6VCK-hFlgGBqsm-DZ7XCpawVX_LOtWlyMkvmJWxXtU0&_nc_zt=23&_nc_ht=scontent.fmnl33-5.fna&_nc_gid=jblbLrHSA7FDEEk7t3B1Nw&_nc_ss=7a3a8&oh=00_Af0jbIOUVxNsK4tZC8MIl12tutiBKDGpe9-eBkbgiEluog&oe=69E67F0F"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Jac Liner, Inc. 8895 | Yutong ZK6107HA &quot;Bedbug&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Jac Liner, Inc. 8895</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fmnl33-4.fna.fbcdn.net/v/t39.30808-6/474045735_1121291312710825_6224179384898797309_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=111&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeEhCAxu4mnMculFG5hHFH_fn5gZr1d0BbWfmBmvV3QFtfGQOfv6hTOFYGKTQXt1mAML0CxWgKpJIjnF-cizGJbM&_nc_ohc=LBv5RBfhMLcQ7kNvwH19yDb&_nc_oc=AdoCGJsEnzUUDwL5NUBDSbSDiZfjE9qeDnNWDpHXGhMv1wH5BFxfMPHzkjfeLCftoAA&_nc_zt=23&_nc_ht=scontent.fmnl33-4.fna&_nc_gid=xRbzNGyITj5MJUE1qcMdBg&_nc_ss=7a3a8&oh=00_Af2QSOglLpa6R1mNcH1PQ9qdrVEYkG_8oK3CTB05iodX9A&oe=69E683C1"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Ultrabus 9865 | Yutong ZK6107HA &quot;Bedbug&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Ultrabus 9865</h6>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselZK6107HA" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselZK6107HA" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="mt-2 text-center">
                <h5>Yutong Bus Co. Ltd. ZK6107HA &quot;Bedbug&quot;</h5>
                <p>Yuchai YC6G240-30 Euro II | 240 hp</p>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">YUTONG ZK6122HD9</p>
            <div id="carouselZK6122HD9" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselZK6122HD9" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselZK6122HD9" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselZK6122HD9" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/490129543_1075360514634523_2407444010016246000_n.jpg?stp=dst-jpg_s720x720_tt6&_nc_cat=109&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeHqmidJ0mDN0EI2TmWNhyAymA15KnHkIMKYDXkqceQgwqzYPKkZzL6f3tSczh7djMIIGrvCp-uwSfsJ6nJBV0Bl&_nc_ohc=n7tFSQgwcwEQ7kNvwHwbZSc&_nc_oc=Adri4Zd6JHwJLHYprWkRrWpA_j_rJBOqolVa_UoOQM3AOxMdDYomj7-Bp6XNNxcAhZY&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=6uWFbrLnDQ59i-RVlVsQhg&_nc_ss=7a3a8&oh=00_Af0ylSXfSJeTm1Pm-EqqqGrezUSTu7ObY7APT2D6iSqbeQ&oe=69E6B1E5"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Alps The Bus Inc. &quot;Ysha Ziana&quot | Yutong ZK6122HD9 ">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>ALPS The Bus Inc. &quot;Ysha Ziana&quot</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://live.staticflickr.com/4490/37613128882_72f8638cfd_b.jpg"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Sta. Lucia Bus Lines 912 | Yutong ZK6122HD9">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Sta. Lucia Bus Lines 912</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/500763642_1107159411438075_5040809744547158653_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=107&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeFdmrMG7bHoPIcu9DXuNMNpR7ImBN4QhJtHsiYE3hCEmxzd6cJyIKjOCdijj-8C3dggrb7F_gF_YalJ0qIWLkDz&_nc_ohc=PjSc0D8K3kEQ7kNvwHfqXgg&_nc_oc=AdrSMSIFwXFS5jNy72Z5Z6bFKGG7mwUwpsH0-KO4IPV2RA0EH2QBJKSbsgpCx6BiRlA&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=C6uCmtu0SUm33eMysZE6_Q&_nc_ss=7a3a8&oh=00_Af2oO3ZyxpgyCAKsuDajKey_jfmDgGxVybTBdFUzVUeemA&oe=69E6B35A"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="DLTB Co. 1414 | Yutong ZK6122HD9">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>DLTB Co. 1414</h6>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselZK6122HD9" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselZK6122HD9" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Zhengzhou Yutong ZK6122HD9 &quot;HD9&quot</h5>
                    <p>Yuchai YC6L310-20 (L32YA) Euro II | 310 hp</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">Yutong ZK6117H</p>
            <div id="carouselZK6117H" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselZK6117H" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselZK6117H" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselZK6117H" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/488217755_1077323501100299_4904597454862584070_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=13d280&_nc_eui2=AeGkMYFV9xdjS0C44gDcHBlichH4em_dVrZyEfh6b91WtosNgAZdetDj4nsFUwuAzkdbOd1n6pPsw8RbVieW9LN9&_nc_ohc=7VhN7mzsLGkQ7kNvwETUR57&_nc_oc=Adph7EwDB7Hy7SEMVDRbQv4cEguSVkOTuUeaAywZGF6Ex0m2IXrTxQF4m0qEX4IhR_8&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=Zeikr8CoNRZscrRB0Kb4zg&_nc_ss=7a3a8&oh=00_Af0sKlAtymd8PtfvAcQF24mEnEdQNqvy8fSwulM1zODs4g&oe=69E68756"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Ceres Transport 11917 | Yutong ZK6117HYG &quot;C11&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Ceres Transport 11917 ^</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fmnl33-1.fna.fbcdn.net/v/t39.30808-6/488886052_1079410110891638_3165840622586666202_n.jpg?stp=dst-jpg_p843x403_tt6&_nc_cat=108&ccb=1-7&_nc_sid=13d280&_nc_eui2=AeERcbiNaxY7pzQHXt8axlX80ulu4KVboXPS6W7gpVuhc3gkIKoayqSW8jtclvF3IjplQTT5NxDtA98X1tk6u8aF&_nc_ohc=67bTDnFwsawQ7kNvwEgYK23&_nc_oc=Adr9rhtTLoIyf3L6gZusSAYbt9qYUXp600PAM5UVe7tsafXB7kVkSXaHDWHI7a8zxlk&_nc_zt=23&_nc_ht=scontent.fmnl33-1.fna&_nc_gid=5JgoQhMf4-QmGtI6vK5-jQ&_nc_ss=7a3a8&oh=00_Af2lN4afOIGspdmF96xEmKhVhkntA6WNBB5C8E9g5i1n1w&oe=69E68335"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Genesis Transport Service Inc. 818801 | Yutong ZK6117H &quot;C11&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Genesis Transport Service Inc. 818801</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fmnl33-5.fna.fbcdn.net/v/t39.30808-6/485356782_1068012005364782_7757499092555881308_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=101&ccb=1-7&_nc_sid=13d280&_nc_eui2=AeGjNqqNs6Xca-w3Z0gad_uXqWfCg5OprSKpZ8KDk6mtIsC1aqO_p2YVoaPjPSQ20PHkUTFI9kMXfNViBNkRAgJb&_nc_ohc=aPYOfWxnObkQ7kNvwGCpKLj&_nc_oc=AdoNYZ2Th1Lf44NrA5uuHQBRjBIZ83yxqe8pbYOFGdp8jywNhe6coESNbIY1e6rNL28&_nc_zt=23&_nc_ht=scontent.fmnl33-5.fna&_nc_gid=QxTklFpIU5tRq9tga6EGqA&_nc_ss=7a3a8&oh=00_Af0r8JaOrnIPHNrijD7l8f4ZOI3jul0JSgF2ioaCnTp3Hg&oe=69E68357"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Philippine Rabbit Bus Lines Inc., 7503 | Yutong ZK6117H &quot;C11&quot">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Philippine Rabbit Bus Lines Inc., 7503</h6>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselZK6117H" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselZK6117H" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Zhengzhou Yutong ZK6117H &quot;C11&quot;<br><em>^ ZK6117HYG (Yanson Exclusive Model)</em><br /></h5>
                    <p>Yuchai YC6L310-50 (LA2YA) Euro V | 310 hp</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <p class="h4 fw-bold text-center mt-4">YUTONG ZK6128H</p>
            <div id="carouselZK6128H" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselZK6128H" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselZK6128H" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselZK6128H" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/481202835_1149091696597453_6913723505676117483_n.jpg?stp=dst-jpg_p180x540_tt6&_nc_cat=107&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeFpQKps20d0Y1ghwQ_TeVDiqgBYaHJ9fImqAFhocn18iSgo2S0-u18VcjIyG9_O8zyjgJqBO4w9kpvx4KiK17TY&_nc_ohc=BXTJvwC3_XYQ7kNvwHbL_fh&_nc_oc=Adrk-6ldMVJqwo8tUIlEliT5sIjCf4HvRSju2UxPBzFOS1p6SxAsWb3zzvb1LmMLMs8&_nc_zt=23&_nc_ht=scontent.fmnl33-6.fna&_nc_gid=FlCFmr0O7wClIQoec_kfFQ&_nc_ss=7a3a8&oh=00_Af3rqxeN3F62u7T1FaST31LndUBJ4dCIxp3GvbdmkKmkyw&oe=69E6AD8C"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="ALPS The Bus Inc. 7007 &quot;Consolacion&quot; | Yutong ZK6128H &quot;C12 Pro&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>ALPS The Bus Inc. 7007 &quot;Consolacion&quot;</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fmnl33-3.fna.fbcdn.net/v/t39.30808-6/633536334_1417057679800852_395713520570100534_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeHPqFuKNd_aKlDoWR7t0Q6ahSYs99EftaaFJiz30R-1pl2qiC4RpBc0WP-FUsrQhJbwroSD2JlR_Yc01ISEZPVr&_nc_ohc=_Anobjrbbn4Q7kNvwEnabVe&_nc_oc=AdqtxCGRd9Z5ac8pY4QSOkpJTgTDogWkicPQeLPVwZB4iHzIGll70yOUv9C6MD7O0vg&_nc_zt=23&_nc_ht=scontent.fmnl33-3.fna&_nc_gid=87R8-uHhF57BQWoE-U_vsw&_nc_ss=7a3a8&oh=00_Af0N0-3ctuCJU7C2a_EH1K77jPA1fFR676xcIRzTHCYy2A&oe=69E6CA10"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="Victory Liner, Inc. 709 | Yutong ZK6128H &quot;C12 Pro&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>Victory Liner, Inc. 709</h6>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://scontent.fmnl33-5.fna.fbcdn.net/v/t39.30808-6/601520348_1377158920457395_7609921654094363190_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=dd6889&_nc_eui2=AeGgxHNODCN9Xd1weBx3e6re5a4Sr7q3BvTlrhKvurcG9OeofV5QyZ7Xs-sr09-M6_XQ3GsCsIoazHulFdMKaWAq&_nc_ohc=OLIScR8rpAoQ7kNvwF2lW8a&_nc_oc=AdoBN_xgLWeo1JqNmddl-cjZYi5_W1p8iy0kPfs-UF4znkLorSvRsCjZD6-BnlnYziY&_nc_zt=23&_nc_ht=scontent.fmnl33-5.fna&_nc_gid=bNglkflk0ZHbYwELlhQl9g&_nc_ss=7a3a8&oh=00_Af1i2Va3IBR0jXBn8CAjsOUstnag6TOmZTE0fhQmRRteiw&oe=69E6B69A"
                             class="d-block w-100"
                             style="display:block; width:100%; height: 350px; object-fit: cover;"
                             alt="DMMC Travel and Tours, Inc. 11181-14 | Yutong ZK6128H &quot;C12 Pro&quot;">
                        <div class="carousel-caption d-none d-md-block">
                            <h6>DMMC Travel and Tours, Inc. 11181-14</h6>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselZK6128H" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselZK6128H" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="mt-2 text-center">
                    <h5>Zhengzhou Yutong ZK6128H &quot;C12 Pro&quot;</h5>
                    <p>Yuchai YC6L330-50 (LA1YA) Euro V | 330 hp </p>
                </div>
            </div>
        </div>
    </div>
</div>
